a{
    text-decoration: none;
}
// .home{
//     background-color: #000;
//     color: #fff;
// }
.navB {
    padding: 10px 50px;
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: space-between;

    img {
        max-height: 100%;
    }

    .user-img {
        border-radius: 50%;
    }
    .user-img-cont{
        height: 45px;
        width: 45px;
        aspect-ratio: 1/1;
        border-radius: 50%;
        overflow: hidden;
        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
}

.arabic {
    direction: rtl;
}

.hagez {
    background-color: #01845C;
    padding: 10px 50px;
    font-size: 15px;
    color: $white;

}

.data-items {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: flex-start;
    justify-content: center;
    padding: 10px 0;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 16px;
    text-align: center;

    .title {
        color: #01845c;

        p,
        span {
            font-size: 14px;
        }
    }
}

.card {
    background-repeat: no-repeat;
    width: 647px;
    height: 1064px;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .img-cont {
        margin-top: 150px;
        height: 240px;
        width: 240px;
        border-radius: 50%;
        overflow: hidden;
        aspect-ratio: 1 / 1;
        margin-left: 10px;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    .arabicName {
        font-size: 22px;
        font-weight: 800;
        color: #231f20;
        margin-top: 45px;
    }

    .englishName {
        font-size: 18px;
        font-weight: 400;
        color: #231f20;
        margin-top: 15px;
    }

    .id-num {
        font-size: 32px;
        font-weight: 600;
        color: #16684e;
        margin-top: 62px;
    }

    .qr1-cont {
        margin-top: 143px;
        height: 167px;
        width: 165px;
        overflow: hidden;
        aspect-ratio: 1 / 1;
        margin-left: 10px;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    .random {
        font-size: 32px;
        font-weight: 600;
        color: #16684e;
    }
}

.card-back {
    .content {
        .qr1-cont {
            margin-top: 51px;
            height: 147px;
            width: 140px;
            overflow: hidden;
            aspect-ratio: 1/1;
            margin-left: 0px;
        }
    }
}

.cards-cont {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 30px;
    gap: 20px;
    .item {
        padding: 10px;
        background-color: #01845C;
        border-radius: 20px;
        color: #fff;
        display: flex;
        flex-direction: column;
        gap: 10px;
        
        .img-cont {
            border-radius: 20px;
            overflow: hidden;
            height: 255px;
            width: 95%;
            aspect-ratio: 1/1;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

@media (max-width: 1200px) {
    .cards-cont {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 991px) {
    .cards-cont {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 595px) {
    .cards-cont {
        grid-template-columns: 1fr 1fr;
        padding: 5px;
        gap: 5px;
        .item {
            .img-cont {
                border-radius: 20px;
                overflow: hidden;
                height: 150px;
                width: 150px;
                aspect-ratio: 1/1;
            }
        }
    }
}